/* positioning example */
.fixed {
    top: 0;
    left: 0;
    padding: 40px;
    margin: 0;
    text-align: center;
    background: red;
  }
  .wrapper {
    width: 600px;
    padding: 20px;
    margin: 0 auto;
  }
  .relative {
    height: 200px;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
    background: #eee;
  }
  .absolute {
    right: -30px;
    bottom: 0;
    width: 250px;
    padding: 20px;
    text-align: center;
    background: #999;
  }
div.firstdiv {
    height: 200px;
   background-color: darkred;
  }
div.seconddiv {
    height: 200px;
    background-color: blue;
  }
div.thirddiv {
    height: 200px;
    background-color: green;
  }
div.fourthdiv {
    height: 200px;
    background-color: yellow;
  }