body {
    background-color: darkgrey;
    background-size: 2000px;
}
.hover-state:hover {
    color: white;
    background-color: blue;
    border: 2px solid aqua;
} 

a.link:hover { 
    background-color: green;
    color: white;
}

a.link:active {
   background-color: red;
   color: white;
   border: solid 1px green;
}

.navBR {
    background-color: #7fffd5!important;
}

.descriptioncenter {
    margin-top: 30px;
}